body {
  font-family: Arial, sans-serif;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #0077be;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background: #0077be;
  color: #1a1414;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.9);
}
